<meta charset="UTF-8">
<meta name="description" content="A tool to add flags to your profile picture." />
<meta name="twitter:card" value="summary">

<meta property="og:title" content="Kurts Profile Picture Tool" />
<meta property="og:url" content="https://kurt.ee/pfpgen" />
<meta property="og:description" content="A tool to add flags to your profile picture." />
<meta name="twitter:creator" content="@Kurty00">

<title>Kurts Profile Picture Tool</title>

<style>
    @font-face {
        font-family: alerion;
        src: url(Aileron-Regular.otf);
    }

    body {
        font-family: alerion;
        font-size: 20pt;
    }

    .prev {
        max-width: 20vh;
    }

    .small {
        font-size: 10pt;
    }

    canvas {
        display: block;
    }

    .hidden-canvas {
        display: none !important;
    }

    #border-percentage {
        width: 2em;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=file],
    select {
        font-size: 18pt;
    }

    input[type=number] {
        -moz-appearance: textfield;
        font-size: 18pt;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95vh;
    }

    .input {}

    .output {}
</style>




<script>
    const availableFlags = ["new_pride_flag", "pride_flag", "ukraine", "custom", "ace", "agender", "aro", "bi", "bigender", "demiboy", "demigirl", "demisexual", "gay", "genderfluid", "genderqueer", "lesbian", "pride_flag", "mlm", "nonbinary", "pan", "poly", "trans"];

    var EL, imagedata, canvas, canvas2, canvas3, canvas4, ctx, borderpercentage, flagselect, canvasdl, canvasdl2, canvasdl3, canvasdl4, customflagsrc;

    window.addEventListener("load", () => {

        borderpercentage = document.getElementById("border-percentage");
        flagselect = document.getElementById("flagselect");
        customflagsrc = document.getElementById("customflag");
        canvasdl = document.getElementById("canvasdl");
        canvasdl2 = document.getElementById("canvasdl2");
        canvasdl3 = document.getElementById("canvasdl3");
        canvasdl4 = document.getElementById("canvasdl4");

        for (flag of availableFlags) {
            var opt = document.createElement('option');
            opt.value = flag;
            opt.innerHTML = flag;
            flagselect.appendChild(opt);
        }


        EL = (sel) => { return document.querySelector(sel) };
        canvas = EL("#canvas");
        canvas2 = EL("#canvas2");
        canvas3 = EL("#canvas3");
        canvas4 = EL("#canvas4");
        canvas.width = 0;
        canvas.height = 0;
        canvas2.width = 0;
        canvas2.height = 0;
        canvas3.width = 0;
        canvas3.height = 0;
        canvas4.width = 0;
        canvas4.height = 0;

        ctx = canvas.getContext("2d");
        let inputname = "???";


        function readImage(a) {

            if (!this.files || !this.files[0]) return;
            const FR = new FileReader();
            FR.addEventListener("load", (evt) => {
                imagedata = evt.target.result;
                updateImages();
            });

            FR.readAsDataURL(this.files[0]);
        }

        EL("#fileUpload").addEventListener("change", readImage);
        flagselect.addEventListener("change", updateImages);

        borderpercentage.addEventListener("change", updateImages);
    })


    function _base64ToArrayBuffer(base64) {
        var binary_string = window.atob(base64);
        var len = binary_string.length;
        var bytes = new Uint8Array(len);
        for (var i = 0; i < len; i++) {
            bytes[i] = binary_string.charCodeAt(i);
        }
        return bytes.buffer;
    }



    function updateImages() {

        var flagsrc = "unknown";
        if (flagselect.value == "custom") {
            customflagsrc.hidden = false;
            customflagsrc.addEventListener("change", function (a) {
                if (!this.files || !this.files[0]) return;
                const FR = new FileReader();
                FR.addEventListener("load", (evt) => {
                    customflagsrc.imgdat = evt.target.result;
                });

                customflagsrc.dataurl = FR.readAsDataURL(this.files[0]);
                updateImages();
            });
            flagsrc = customflagsrc.imgdat;
            console.log(customflagsrc)
        } else {
            customflagsrc.hidden = true;
            flagsrc = "flags/" + flagselect.value + ".png";
        }

        if (!imagedata) return;

        const img = new Image();
        img.addEventListener("load", () => {
            canvas.height = img.height;
            canvas.width = img.width;

            ctx.clearRect(0, 0, img.width, img.height);
            ctx.save();

            ctx.beginPath();
            ctx.arc(img.width / 2, img.height / 2, img.height / 2, 0, 2 * Math.PI, false);
            ctx.closePath();
            ctx.clip();

            ctx.drawImage(img, 0, 0);

            ctx.restore();

            downloadCanvas(canvasdl, canvas);

            var height = img.height + (borderpercentage.valueAsNumber / 100) * img.height;
            var width = img.width + (borderpercentage.valueAsNumber / 100) * img.width;
            canvas2.width = width;
            canvas2.height = height;
            canvas3.width = width;
            canvas3.height = height;
            canvas4.width = width;
            canvas4.height = height;
            var context = canvas2.getContext('2d')


            var flagimg = new Image(width, height);
            flagimg.src = flagsrc;
            flagimg.addEventListener("load", () => {
                context.drawImage(flagimg, 0, 0, width, height);
                context.drawImage(canvas, ((borderpercentage.valueAsNumber / 100) / 2 * img.width), (borderpercentage.valueAsNumber / 100) / 2 * img.height)

                context = canvas3.getContext('2d');

                context.save();
                context.fillStyle = '#000'
                context.fillRect(0, 0, width, height)
                context.beginPath();
                context.arc(width / 2, height / 2, height / 2 + 1, 0, 2 * Math.PI, false);
                context.closePath();
                context.clip();

                context.drawImage(canvas2, 0, 0);
                context.restore();


                context = canvas4.getContext('2d');


                context.clearRect(0, 0, width, height);
                context.save();

                context.beginPath();
                context.arc(width / 2, height / 2, height / 2, 0, 2 * Math.PI, false);
                context.closePath();
                context.clip();

                context.drawImage(canvas2, 0, 0);

                context.restore();

                generateDownloadLinks();
            });

        });
        img.src = imagedata;

    }


    function downloadCanvas(link, canvas) {
        link.href = canvas.toDataURL();
    }

    function generateDownloadLinks(params) {
        downloadCanvas(canvasdl2, canvas2);
        downloadCanvas(canvasdl3, canvas3);
        downloadCanvas(canvasdl4, canvas4);
        document.getElementById("prev-a").src = canvas2.toDataURL();
        document.getElementById("prev-b").src = canvas4.toDataURL();
        document.getElementById("prev-c").src = canvas3.toDataURL();
    }
</script>


<div class="container">
    <div class="holder">

        <div class="input">
            select a flag:
            <select name="flagselect" id="flagselect"> </select>
            <input type='file' id="customflag" hidden="" accept="image/gif, image/jpeg, image/*" />
            <br>
            flag size:
            <input type="number" id="border-percentage" name="border-percentage" min="5" max="50" value="15">
            <p></p>
            select a file:
            <input type='file' id="fileUpload" accept="image/gif, image/jpeg, image/*" />
            <br>
            <span class="small">ⓘ It is recommended that the input file already has a 1:1 aspect ratio (this means it's
                a
                square).</span>
        </div>
        <div class="output">
            <p>click to download the results:</p>
            <canvas id="canvas" class="hidden-canvas"></canvas>
            <a id="canvasdl" download="cropped.png"></a>
            <canvas id="canvas2" class="hidden-canvas"></canvas>
            <a id="canvasdl2" download="with-flag.png"><img class="prev" id="prev-a" src="variant_a.png"></img></a>
            <canvas id="canvas4" class="hidden-canvas"></canvas>
            <a id="canvasdl4" download="flag-transparent.png"><img class="prev" id="prev-b"
                    src="variant_b.png"></img></a>
            <canvas id="canvas3" class="hidden-canvas"></canvas>
            <a id="canvasdl3" download="flag-and-border.png"><img class="prev" id="prev-c"
                    src="variant_c.png"></img></a>
            <p></p>
        </div>
        <span class="small">You may find the source code of this project <a
                href="https://gitlab.com/Kurty00/pfpgen">here</a>.</span><br>
        <span class="small">Made with 🏳️‍🌈 by <a href="https://kurt.ee">Kurty00</a>.</span>
    </div>
</div>